.header {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: lightsteelblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.footer {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
}

.search {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: lightgreen;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;*/

}

#logo {
    font-size: 13px;
    line-height: 24px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background: green;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr;

}

.about:hover {
    text-decoration: underline;
}

.store:hover {
    text-decoration: underline;
}

.gmail:hover {
    text-decoration: underline;
}

.images:hover {
    text-decoration: underline;
}

.grid:hover {
    width: 50px;
    height: 50px;
    background-color: #e65525;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #e78267;
}


.footer {
    background-color: lightsteelblue;

}